<!-- arguments_form.html -->
<fieldset>
    <legend>Edit Fabric</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='argument-title'>Title</label><br>
            <input class='form-control' id='argument-title' type='text' name='title' value='{{ argument.title }}'/>
        </div>
        <!-- Argument-->
        <div class='form-group'>
            <label for='point'>Argument Point</label><br>
            <input class='form-control' id='point' type='text' name='point' value='{{ argument.point }}' />
        </div>

        <!-- From W3Schools tutorial -->
        <!-- https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp -->
        <div class="radio">
            <label><input type="radio" name="optradio">Option 1</label>
        </div>

        <div class="radio">
            <label><input type="radio" name="optradio">Option 2</label>
        </div>

</fieldset>
