<fieldset>
    <legend>Edit Fabric</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='argument-title'>Title</label><br>
            <input class='form-control' id='fabric-name' type='text' name='name' value='{{ argument.title }}'/>
        </div>
        <!-- Argument-->
        <div class='form-group'>
            <label for='argument'>Argument</label><br>
            <input class='form-control' id='argument' type='text' name='argument' value='{{ argument.argument }}' />
        </div>

</fieldset>
