<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-around" style="width:100%">
        <li class="nav-item active">
            <a class='nav-link' href="">A1</a>
        </li>
        <li class="nav-item active">
            <a class="navbar-brand" href="/">Debate Weekly</a>
        </li>
        <li class="nav-item active">
            <a class='nav-link' href="">A2</a>
        </li>
    </ul>
  </div>
</nav>
