<!-- templates/arguments_edit.html-->
{% extends 'base.html'%}
{% block content %}
<h2>Editing</h2>
<div class= 'row'>
    <div class = 'col'>
        <form method = 'POST' action='/arguments/{{argument._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/arguments_form.html' %}
            <!-- Button to submit -->
            <div class = 'form-group'>
                <button class='btn btn-ptimary' type='submit'>Post</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
