<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Debate Weekly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="google-signin-client_id" content="1035584444479-hshlb4sqekh9nrjaovpbo5d6fdm8h3rn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style type="text/css">
        body { background: #daeddc !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
    <script>
        gapi.load('auth2', function(){gapi.auth2.init();})
    </script>

</head>
<body>


    {% include 'partials/navbar.html' %}
    <div class='container'>
        {% block content %}
            BODY CONTENT GOES HERE
        {% endblock %}

    </div>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</body>

</html>
