<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Debate Weekly</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <meta name="google-signin-client_id" content="1035584444479-hshlb4sqekh9nrjaovpbo5d6fdm8h3rn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        gapi.load('auth2', function(){gapi.auth2.init();})
    </script>

</head>
<body>

    <!-- https://developers.google.com/identity/sign-in/web/
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profiscrle = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script> -->

    {% include 'partials/navbar.html' %}
    <div class='container'>
        {% block content %}
            BODY CONTENT GOES HERE
        {% endblock %}

    </div>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</body>

</html>
