{% extends 'base.html' %}

{% block content%}
<div class='container'>
    <div class='row'>
        <div class = 'col'>
            <div class='text-center'>
                <h2>Argument 1</h2>
                {% for argument in arguments1 %}
                    {% if argument.optradio == 'argument1' %}
                        <h4>{{ argument.title }}</h4>
                        <small>{{ argument.point }}</small><br>
                        <p><a href='/arguments/{{ argument._id }}/edit'>Edit</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = 'col'>
            <div class='text-center'>
                <h2>Argument 2</h2>
                {% for argument in arguments2 %}
                    {% if argument.optradio == 'argument2' %}
                        <h4>{{ argument.title }}</h4>
                        <small>{{ argument.point }}</small><br>
                        <p><a href='/arguments/{{ argument._id }}/edit'>Edit</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
