{% extends 'base.html' %}

{% block content%}
<div class='container'>
    <div class='row'>
        <div class = 'col'>
            <div class='text-center'>
                <h2>Pro Argument</h2>
                {% for argument in arguments1 %}
                    {% if argument.optradio == 'argument1' %}
                        <div class="card border-primary">
                            <div class="card-body">
                                <h4 class="card-header">{{ argument.title }}</h4>
                                <small>{{ argument.point }}</small><br>
                                <p><a href='/arguments/{{ argument._id }}/edit'>Edit</a></p>
                                <p><a href='/arguments/{{ argument._id }}/delete'>Delete</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = 'col'>
            <div class='text-center'>
                <h2>Con Argument</h2>
                {% for argument in arguments2 %}
                    {% if argument.optradio == 'argument2' %}
                        <div class="card border-danger">
                            <div class="card-body">
                                <h4 class="card-header">{{ argument.title }}</h4>
                                <small>{{ argument.point }}</small><br>
                                <p><a href='/arguments/{{ argument._id }}/edit'>Edit</a></p>
                                <p><a href='/arguments/{{ argument._id }}/delete'>Delete</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
