{% extends 'base.html'%}
{% block content %}
<form action='/login' method='POST'>
        <fieldset>
            <div class="card">
                <div class="card-body">
                    <legend>Login</legend>
                        <!-- TITLE -->
                        {% include 'partials/login_form.html' %}
                        {% if error != None %}
                        <i><p>{{error}}<p></i>
                        {% endif %}

                        <div class='form-group'>
                            <button class='btn btn-primary' type='submit'>Login</button>
                        </div>
                        <a href="/login/new_user">sign up</a>
                        <!-- <form method='POST' action='/login/new_user'>
                            <button class='btn btn-primary' type='submit'>Sign Up</button>
                        </div> -->
                </div>
            </div>


        </fieldset>
{% endblock %}
