{% extends 'base.html'%}
{% block content %}
<form action='/login' method='POST'>
        <fieldset>
            <div class="card">
                <div class="card-body">
                    <legend>Login</legend>
                        <!-- TITLE -->
                        <div class='form-group'>
                            <label for='username'>Username</label><br>
                            <input class='form-control' id='username' type='text' name='username'/>
                        </div>
                        <!-- Argument-->
                        <div class='form-group'>
                            <label for='password'>Password</label><br>
                            <input class='form-control' id='password' type='text' name='password'/>
                        </div>
                        {% if error != None %}
                        <i><p>{{error}}<p></i>
                        {% endif %}

                        <div class='form-group'>
                            <button class='btn btn-primary' type='submit'>Login</button>
                        </div>
                </div>
            </div>


        </fieldset>
{% endblock %}
